@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: rgb(249 250 251);
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #ededed;
}

::-webkit-scrollbar-thumb {
  background-color: #bababa;
  border-radius: 6px;
  border: 2px solid #e4e4e4;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5a5a68;
}


.icon-blue {
  filter: invert(49%) sepia(71%) saturate(3995%) hue-rotate(202deg) brightness(100%) contrast(93%);
}

.icon-mui-blue {
  filter: invert(32%) sepia(79%) saturate(1403%) hue-rotate(189deg) brightness(95%) contrast(89%);
}

.status-table tr:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.status-table tr:first-child {
  padding-top: 0;
}